*{
    font-family: 'Raleway', sans-serif;
}
html,body{
    width:100%;
    height: 100%;
    display: block;
    margin:0;
    padding:0;
}
body{
    background-image: url(../img/monopoly.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
   
}
#board{
    display: inline-block;
    vertical-align: top;
    box-shadow: 2px 2px 2px 3px rgba(0,0,0,0.5);
    opacity: 0.96;
}
#specs{
    display: inline-block;
    vertical-align: top;

}
#board > div{
    font-size:67%;
    font-weight: bold;
    text-align: center;
}
#board > div img {
    width: 71%;
    display: block;
    margin: 0 auto;
    padding-top:18%;
}
h2 {
    margin: 0;
    padding:0;
    margin-bottom: 10px;
    text-align: center;
}
#specs{
    width: calc(100% - 720px);
    height: 500px;
    position:relative;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 3px rgba(0,0,0,0.5);
    display: inline-block;
    background-color: rgba(255,255,255,0.7);
    margin-left: 10px;
}
#specs::before{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    content: ' ';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../img/monopoly.jpg);
    z-index: -1;
    filter: blur(8px) ;
    
}
.card-container{
    text-align: center;
    outline: 2px solid black;
    position:relative;
    width:200px;
    height: 250px;
    background-color:#D5E8D4;
    display: inline-block;
    margin-left: 20px;
}
.info-player{
    width: calc(100% - 250px);
    text-align: center;
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    font-size: 18px;
    line-height: 30px;
}
.modal{
    top:0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
}
.modal > .modal-box{
    background-color: white;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 500px;
    height: 500px;
    overflow: hidden;
    box-sizing: border-box;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.modal-header, .modal-footer {
    color:white;
    width: 100%;
    height: 39px;
    border-bottom: 1px solid gray;
}
.modal-footer{
    border-bottom: none;
    border-top: 1px solid gray;
    text-align: right;
    line-height: 40px;
    padding: 10px;
    box-sizing: border-box
}

.modal-body{
    width: 100%;
    height: calc(100% - 80px);
    overflow: auto;
}
.rendered-buttons{
    width:100%;
    display: block;
    text-align: center;
    margin-top: 15px;

}
.button{
    border:none;
    background-color: #3F51B5;
    color:white;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}
.button:hover::after{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}
.main-title{
    border-radius:5px; 
    background-color:rgba(255,255,255,0.7); 
    padding:10px; 
    max-width:150px; 
    margin: 10px auto; 
    border: 1px solid black;
    position: relative;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
}
.main-title::before{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    content: ' ';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../img/monopoly.jpg);
    z-index: -1;
    filter: blur(8px) ;
}
